<h1><%= title %></h1>

<%- messages() %>

<p class="notice">Confirm Deletion - The delete is permanent.</p>

<form id="deleteForm" action="/inv/delete" method="post" class="user-form">
  <label for="inv_make">Make</label>
  <input type="text" name="inv_make" id="inv_make" readonly value="<%= inv_make %>">

  <label for="inv_model">Model</label>
  <input type="text" name="inv_model" id="inv_model" readonly value="<%= inv_model %>">

  <label for="inv_year">Year</label>
  <input type="text" name="inv_year" id="inv_year" readonly value="<%= inv_year %>">

  <label for="inv_price">Price</label>
  <input type="text" name="inv_price" id="inv_price" readonly value="<%= inv_price %>">

  <input type="hidden" name="inv_id" value="<%= inv_id %>">
  
  <button type="submit">Delete Vehicle</button>
</form>